@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --red: #ff5d5d;
  --blue: #5d98ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.btn {
  border: 2px var(--red) solid;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 400;
  background: none;

  padding: 12px 25px;

  cursor: pointer;
  transition: 0.2s all ease;
}

.btn:hover {
  background-color: #ff5d5d;
}

.container {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 48px;
  font-size: 700;
  color: var(--red);
}

.title span {
  color: var(--blue);
}

.grid-container {
  width: 30rem;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 50px;
  border-radius: 10px;
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  aspect-ratio: 1 / 1;

  background-color: rgb(199, 199, 199);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 84px;
  font-weight: 700;

  background-color: #fff;

  transition: 0.2s all ease;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(199, 199, 199);
}

.wins-count {
  font-size: 28px;
  font-weight: 700;

  margin-bottom: 20px;
}

@media (max-width: 780px) {
  .grid-container {
    width: 20rem;
  }

  .square {
    font-size: 58px;
  }
}
